/* Shared style */
@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: o;
    padding: o;
    font-family: "Hind Mysuru", serif;
    font-family: "Hind Mysuru", serif;
}

.btn-primary {
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    border: 0;
    padding: 20px 25px;
    font-weight: 600;
    cursor: pointer;

}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 120px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 800;
}

.year {
    height: 150px;
    width: 270px;
    background-color: #FF900E;
    color: #fff;
    right: 150px;
    position: relative;
    z-index: 1;
    bottom: 170px;
    text-align: center;
    border-radius: 8px;
}

#ex {
    font-size: 1.3rem;
    font-weight: 600;
}

.d-flex {
    display: flex;
}

/* Header style */
header {
    background-color: #ff8f0e10;
    padding: 50px 240px;
}


nav {
    background-color: #37aded10;
    padding: 50px 60px;
    height: 40px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-heading {
    color: #131313;
    font-size: 45px;
    font-weight: 700;

}

/* Banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-heading {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    text-align: center;
}

.banner-discription {
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* feature section style */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {
    margin-left: 130px;
}

#text-primary {
    font-weight: 500;
    color: #727272;
}

#ft {
    color: #FF900E;
}

.text-color {
    color: #727272;
}

#ft-deb {
    border-left: 6px solid #FF900E;
}

.ft-title {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 20px;
}

.ft-box {
    height: 120px;
    box-shadow: 2px 2px 2px 1px rgba(234, 232, 232, 0.6);
    padding: 20px;
    border-radius: 8px;
    width: 61%;
    margin-top: 40px;
}

.position {
    margin-top: 50px;
}

.img {
    position: relative;
}

/* Icon Section Starts */
.facts {
    font-size: 2.5rem;
    font-weight: 900;
    color: #131313;
}

.some-facts {
    margin-top: 40px;
}

.box-heading {
    font-size: .8rem;
    font-weight: 800;

}

#years {
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    padding-top: 20px;
    margin-bottom: -35px;
}

#exp {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.boxes {
    justify-content: space-around;
}

.box {
    height: 241.83px;
    width: 241.83px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.box-img {
    margin: 30px auto;
    margin-top: 45px;
    margin-bottom: -30px;
    align-items: center;
    padding-left: 95px;
}

.box-text-n {
    margin-bottom: -30px;
    padding-top: -43px;
    font-size: 2rem;
    font-weight: 800;
}

.icon {
    text-align: center;

}

.box-text-p {
    font-size: 1.5rem;
    font-weight: 500;
}

/* .box-text-p4 {
    font-size: 1rem;
    font-weight: 500;
} */

/* Icon Section Ends */

/* sponser section starts */
.sponsers {
    margin-left: 20%;
    align-items: center;
    margin-top: 60px;
}

#spnsr {
    margin-left: 28%;
}

.sponser-text {
    margin-left: 20%;
}

#sponser-text2 {
    margin-left: 10%;
}

.s-img {
    justify-content: space-around;
    margin-top: 50px;
}

/* sponser section ends */

/* footer section */
.footer {
    margin: 50px auto;
    width: 80%;
    padding: 10px;
    background-color: #FFF4E7;
    color: #424242;
    text-align: center;
    margin-top: 80px;
    height: px;
}

/* Responsive Media Query */
/* For Mobile Device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

}

/* Responsive for Tablet or medium devices */
@media screen and (max-width:992px) and (min-width:576px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    main {
        padding: 50px;
    }

    section {
        flex-direction: column;
    }
}